@import url("utility.css");


.flex-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
.flex-item {
    background-color: rgba(var(--flex-color), 0.25);
    border: 1px solid rgba(var(--flex-color), 1);
    padding: 2em;
    border-radius: 1rem;
}

@media (width >= 600px) {
  
  .flex-container {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .header {
    flex-basis: 100%;
  }

  .content {
    justify-content: left;
    flex-grow: 1;
  }

  .content-1 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
  }

 .footer {
    flex-basis: 100%;
  }

}