@import url("utility.css");

body {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    background-color: #AFB6BE;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
.flex-item {
    background-color: rgba(var(--flex-color), 0.25);
    border: 1px solid rgba(var(--flex-color), 1);
    padding: 2em;
    border-radius: 1rem;
}

.header {
    background-color: #9B2764;
    gap: 1rem;
}

section {
    border-bottom: none;
    padding: 0;
    margin: 0;
}

.aside1 {
    background-color: #186494;
}

article {
    background-color: #39B47E;
    border: 1px solid rgba(var(--flex-color), 1);
    padding: 2em;
    border-radius: 1rem;
}

.col {
    background-color: #DD255E;
}

.aside2 {

    background-color: #33A4B5;
}

.footer {
    background-color: #DB6C32;
}


@media (width >= 1147px) {

    .flex-container {
        flex-wrap: wrap;
        flex-direction: row;
      }
  
    .header, .footer {
        flex-basis: 100%;
    }

    section {
        flex-basis: 100%;
        flex-direction: row;
    }

    aside {
        flex-basis: 23.5%;
        height: 500px;
    }

    article {
        flex-direction: row;
        flex: 0 0 50%;
        height: 500px;
        align-content: flex-end;
    }

    .col {
        flex-direction: row;
        flex: 0 0 31%;
        height: fit-content;
    }

}