@import url("utility.css");


.flex-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
.flex-item {
    background-color: rgba(var(--flex-color), 0.25);
    border: 1px solid rgba(var(--flex-color), 1);
    padding: 2em;
    border-radius: 1rem;
}

header {
  display: flex;
  padding-bottom: 1em;
}

nav {
  display: flex;
  gap: 1em;
}

nav > li {
  list-style: none;
}

.main-nav {
  display: none;
}

li.toggle {
  margin-left: auto;
}

main {
  padding-bottom: 1em;
}

.project-title {
  flex-basis: 1;
  padding-bottom: 1em;
}

.project-slideshow {
  padding-bottom: 1em;
}

.project-slideshow {
  height: 700px;
}

.project-write-up {
  padding-bottom: 1em;
}

.project-text {
  height: 500px;
}

footer-nav {
  display: flex;
  align-items: center;
}

footer-nav > li {
  list-style: none;
  gap: 1em;
  text-align: center;
}

footer-2 {
  text-align: center;
}

@media (width >= 950px) {
  
  .flex-container {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .header {
    flex-basis: 100%;
  }

  .main-nav {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  nav {
    justify-content: left;
    flex-grow: 1;
    gap: 1em;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1em;
    width: 100%;
  }

.project-slideshow {
    order: 1;
    flex: 3;
  }

  .project-title, .project-write-up {
    display: flex;
    flex-direction: column;
  }

  .project-title {
    flex-basis: 25%;
    order: 2;
    height: fit-content;
  }

  .project-write-up {
    order: 3;
    height: fit-content;
  }

 .footer {
    flex-basis: 100%;
  }

}